
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .page-header -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumbs" style="margin: 0;">
                <ul class="flex flex-wrap align-items-center p-0 m-0">
                    <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
                    <li>Đăng ký</li>
                </ul>
            </div>
            <!-- .breadcrumbs -->
        </div>
        <!-- .col -->
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <!-- .col -->
        <div class="col-lg-6">

            <div class="sidebar">
                <div class="col-lg-12">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Đăng ký tài khoản</h1>
                </div>
                @if (TempData["error"] != null)
                {
                    <div class="col-lg-12 text-center" style="margin-bottom: 20px;">
                        <span class="alert alert-danger">@TempData["error"]</span>
                    </div>
                }
                <div class="col-lg-12">
                    @using (Html.BeginForm("frmRegister", "User", FormMethod.Post, new { id = "frmRegister" }))
                    {
                        <div class="col-lg-12 form-group">
                            <input type="text" class="form-control" name="Account" placeholder="Tài khoản">
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Mật khẩu">
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="text" class="form-control" name="Fullname" placeholder="Họ và tên">
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="text" class="form-control" name="Phone" placeholder="Số điện thoại">
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="text" class="form-control" name="Address" placeholder="Địa chỉ">
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-lg btn-success btn-block">Đăng ký</button>
                        </div>
                    }

                </div>

            </div>
            <!-- .sidebar -->
        </div>
        <!-- .col -->
    </div>
    <!-- .row -->
</div>

@section jsSection{
    
    <script>
        $(document).ready(function () {
             jQuery.validator.addMethod("phonenu", function (value, element) {
                if (/^(09[0-9]|07[0|6|7|8|9]|03[2-9]|08[1-5])+([0-9]{7})\b/g.test(value)) {
                    return true;
                } else {
                    return false;
                };
            }, "Invalid phone number");
            //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này 
            $("#frmRegister").validate({
                rules: {
                    Account: "required",
                    Password: "required",
                    Fullname: "required",
                    Address: "required",
                    Phone: {
                        required: true,
                        phonenu: true
                    }
                },
                messages: {
                    Account: "<div>Vui lòng nhập tài khoản</div>",
                    Password: "Vui lòng nhập mật khẩu",
                    Fullname: "Vui lòng nhập họ và tên",
                    Address: "Vui lòng nhập địa chỉ",
                    Phone: {
                        required: "Vui lòng nhập số điện thoại",
                        phonenu: "Số điện thoại không hợp lệ"
                    }
                }
            });
        });
    </script>

}
