
@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display docx file</title>
</head>
<body>
    <iframe>
        @Html.Raw(ViewBag.DocHtml)
    </iframe>
</body>
</html>*@
